cn\=OutQueue/ClassName=org.apache.activemq.command.ActiveMQQueue
cn\=OutQueue/FactoryName=org.apache.activemq.jndi.JNDIReferenceFactory
cn\=OutQueue/RefAddr/0/Type=physicalName
cn\=OutQueue/RefAddr/0/Content={{out_q}}
cn\=OutQueue/RefAddr/0/Encoding=String
 
cn\=ProxyQueue/ClassName=org.apache.activemq.command.ActiveMQQueue
cn\=ProxyQueue/FactoryName=org.apache.activemq.jndi.JNDIReferenceFactory
cn\=ProxyQueue/RefAddr/0/Type=physicalName
cn\=ProxyQueue/RefAddr/0/Content={{proxy_q}}
cn\=ProxyQueue/RefAddr/0/Encoding=String
 
cn\=QueueConnectionFactory/ClassName=org.apache.activemq.ActiveMQConnectionFactory
cn\=QueueConnectionFactory/FactoryName=org.apache.activemq.jndi.JNDIReferenceFactory
cn\=QueueConnectionFactory/RefAddr/0/Type=brokerURL
cn\=QueueConnectionFactory/RefAddr/0/Content=tcp\://{{host}}\:{{port}}
cn\=QueueConnectionFactory/RefAddr/0/Encoding=String
cn\=QueueConnectionFactory/RefAddr/1/Type=brokerName
cn\=QueueConnectionFactory/RefAddr/1/Content=
cn\=QueueConnectionFactory/RefAddr/1/Encoding=String
cn\=QueueConnectionFactory/RefAddr/2/Type=password
cn\=QueueConnectionFactory/RefAddr/2/Content=defaultPassword
cn\=QueueConnectionFactory/RefAddr/2/Encoding=String
cn\=QueueConnectionFactory/RefAddr/3/Type=userName
cn\=QueueConnectionFactory/RefAddr/3/Content=defaultUser
cn\=QueueConnectionFactory/RefAddr/3/Encoding=String
