cn\=OutQueue/ClassName=progress.message.jclient.Queue
cn\=OutQueue/FactoryName=progress.message.jclient.AdministeredObjectFactory
cn\=OutQueue/RefAddr/0/Content={{out_q}}
cn\=OutQueue/RefAddr/0/Encoding=String
cn\=OutQueue/RefAddr/0/Type=name
cn\=OutQueue/RefAddr/1/Content=10.0
cn\=OutQueue/RefAddr/1/Encoding=String
cn\=OutQueue/RefAddr/1/Type=versionID

cn\=ProxyQueue/ClassName=progress.message.jclient.Queue
cn\=ProxyQueue/FactoryName=progress.message.jclient.AdministeredObjectFactory
cn\=ProxyQueue/RefAddr/0/Content={{proxy_q}}
cn\=ProxyQueue/RefAddr/0/Encoding=String
cn\=ProxyQueue/RefAddr/0/Type=name
cn\=ProxyQueue/RefAddr/1/Content=10.0
cn\=ProxyQueue/RefAddr/1/Encoding=String
cn\=ProxyQueue/RefAddr/1/Type=versionID

cn\=QueueConnectionFactory/ClassName=progress.message.jclient.QueueConnectionFactory
cn\=QueueConnectionFactory/FactoryName=progress.message.jclient.AdministeredObjectFactory
cn\=QueueConnectionFactory/RefAddr/0/Content=false
cn\=QueueConnectionFactory/RefAddr/0/Encoding=String
cn\=QueueConnectionFactory/RefAddr/0/Type=EnableLocalStore
cn\=QueueConnectionFactory/RefAddr/1/Content=/opt/sonicmq/MQ10.0
cn\=QueueConnectionFactory/RefAddr/1/Encoding=String
cn\=QueueConnectionFactory/RefAddr/1/Type=LocalStoreDirectory
cn\=QueueConnectionFactory/RefAddr/2/Content=10000
cn\=QueueConnectionFactory/RefAddr/2/Encoding=String
cn\=QueueConnectionFactory/RefAddr/2/Type=LocalStoreSize
cn\=QueueConnectionFactory/RefAddr/3/Content=0
cn\=QueueConnectionFactory/RefAddr/3/Encoding=String
cn\=QueueConnectionFactory/RefAddr/3/Type=ReconnectTimeout
cn\=QueueConnectionFactory/RefAddr/4/Content=30
cn\=QueueConnectionFactory/RefAddr/4/Encoding=String
cn\=QueueConnectionFactory/RefAddr/4/Type=ReconnectInterval
cn\=QueueConnectionFactory/RefAddr/5/Content=false
cn\=QueueConnectionFactory/RefAddr/5/Encoding=String
cn\=QueueConnectionFactory/RefAddr/5/Type=faultTolerant
cn\=QueueConnectionFactory/RefAddr/6/Content=60
cn\=QueueConnectionFactory/RefAddr/6/Encoding=String
cn\=QueueConnectionFactory/RefAddr/6/Type=faultTolerantReconnectTimeout
cn\=QueueConnectionFactory/RefAddr/7/Content=-1
cn\=QueueConnectionFactory/RefAddr/7/Encoding=String
cn\=QueueConnectionFactory/RefAddr/7/Type=initialConnectTimeout
cn\=QueueConnectionFactory/RefAddr/8/Content=0
cn\=QueueConnectionFactory/RefAddr/8/Encoding=String
cn\=QueueConnectionFactory/RefAddr/8/Type=clientTransactionBufferSize
cn\=QueueConnectionFactory/RefAddr/9/Content=0
cn\=QueueConnectionFactory/RefAddr/9/Encoding=String
cn\=QueueConnectionFactory/RefAddr/9/Type=FLOW_TO_DISK
cn\=QueueConnectionFactory/RefAddr/10/Content=10000
cn\=QueueConnectionFactory/RefAddr/10/Encoding=String
cn\=QueueConnectionFactory/RefAddr/10/Type=SOCKET_CONNECT_TIMEOUT
cn\=QueueConnectionFactory/RefAddr/11/Content=false
cn\=QueueConnectionFactory/RefAddr/11/Encoding=String
cn\=QueueConnectionFactory/RefAddr/11/Type=MULTI_TOPIC_SPLIT_DELIVERY
cn\=QueueConnectionFactory/RefAddr/12/Content=128
cn\=QueueConnectionFactory/RefAddr/12/Encoding=String
cn\=QueueConnectionFactory/RefAddr/12/Type=QOP_CACHE_SIZE
cn\=QueueConnectionFactory/RefAddr/13/Content=0
cn\=QueueConnectionFactory/RefAddr/13/Encoding=String
cn\=QueueConnectionFactory/RefAddr/13/Type=LocalStoreWaitTime
cn\=QueueConnectionFactory/RefAddr/14/Content=51200
cn\=QueueConnectionFactory/RefAddr/14/Encoding=String
cn\=QueueConnectionFactory/RefAddr/14/Type=defaultTxnBatchSize
cn\=QueueConnectionFactory/RefAddr/15/Content=0
cn\=QueueConnectionFactory/RefAddr/15/Encoding=String
cn\=QueueConnectionFactory/RefAddr/15/Type=MAX_DELIVERY_COUNT
cn\=QueueConnectionFactory/RefAddr/16/Content=false
cn\=QueueConnectionFactory/RefAddr/16/Encoding=String
cn\=QueueConnectionFactory/RefAddr/16/Type=LG_ENABLED
cn\=QueueConnectionFactory/RefAddr/17/Content=-1
cn\=QueueConnectionFactory/RefAddr/17/Encoding=String
cn\=QueueConnectionFactory/RefAddr/17/Type=LG_DOWN_STREAM_NODE_TYPE
cn\=QueueConnectionFactory/RefAddr/18/Content=false
cn\=QueueConnectionFactory/RefAddr/18/Encoding=String
cn\=QueueConnectionFactory/RefAddr/18/Type=ENABLE_COMPRESSION
cn\=QueueConnectionFactory/RefAddr/19/Content=false
cn\=QueueConnectionFactory/RefAddr/19/Encoding=String
cn\=QueueConnectionFactory/RefAddr/19/Type=MINIMIZE_SUBSCRIBER_TRAFFIC
cn\=QueueConnectionFactory/RefAddr/20/Content=0
cn\=QueueConnectionFactory/RefAddr/20/Encoding=String
cn\=QueueConnectionFactory/RefAddr/20/Type=SEND_TIMEOUT
cn\=QueueConnectionFactory/RefAddr/21/Encoding=String
cn\=QueueConnectionFactory/RefAddr/21/Type=brokerURL
cn\=QueueConnectionFactory/RefAddr/22/Content=
cn\=QueueConnectionFactory/RefAddr/22/Encoding=String
cn\=QueueConnectionFactory/RefAddr/22/Type=defaultUserName
cn\=QueueConnectionFactory/RefAddr/23/Content=
cn\=QueueConnectionFactory/RefAddr/23/Encoding=String
cn\=QueueConnectionFactory/RefAddr/23/Type=defaultPassword
cn\=QueueConnectionFactory/RefAddr/24/Content=10.0
cn\=QueueConnectionFactory/RefAddr/24/Encoding=String
cn\=QueueConnectionFactory/RefAddr/24/Type=versionID
cn\=QueueConnectionFactory/RefAddr/25/Content=tcp\://{{host}}\:{{port}}
cn\=QueueConnectionFactory/RefAddr/25/Encoding=String
cn\=QueueConnectionFactory/RefAddr/25/Type=brokerList
cn\=QueueConnectionFactory/RefAddr/26/Content=true
cn\=QueueConnectionFactory/RefAddr/26/Encoding=String
cn\=QueueConnectionFactory/RefAddr/26/Type=randomizeBrokers
cn\=QueueConnectionFactory/RefAddr/27/Content=true
cn\=QueueConnectionFactory/RefAddr/27/Encoding=String
cn\=QueueConnectionFactory/RefAddr/27/Type=loadBalancing
cn\=QueueConnectionFactory/RefAddr/28/Content=false
cn\=QueueConnectionFactory/RefAddr/28/Encoding=String
cn\=QueueConnectionFactory/RefAddr/28/Type=persistentDelivery
cn\=QueueConnectionFactory/RefAddr/29/Content=-1
cn\=QueueConnectionFactory/RefAddr/29/Encoding=String
cn\=QueueConnectionFactory/RefAddr/29/Type=monitorInterval
cn\=QueueConnectionFactory/RefAddr/30/Content=60
cn\=QueueConnectionFactory/RefAddr/30/Encoding=String
cn\=QueueConnectionFactory/RefAddr/30/Type=pingInterval
cn\=QueueConnectionFactory/RefAddr/31/Content=tcp\://{{host}}\:{{port}}
cn\=QueueConnectionFactory/RefAddr/31/Encoding=String
cn\=QueueConnectionFactory/RefAddr/31/Type=RESOLVED_BROKER_LIST
cn\=QueueConnectionFactory/RefAddr/32/Content=0
cn\=QueueConnectionFactory/RefAddr/32/Encoding=String
cn\=QueueConnectionFactory/RefAddr/32/Type=ASYNCHRONOUS_DELIVERY_MODE
cn\=QueueConnectionFactory/RefAddr/33/Content=0
cn\=QueueConnectionFactory/RefAddr/33/Encoding=String
cn\=QueueConnectionFactory/RefAddr/33/Type=DELIVERY_CLOSE_TIMEOUT
cn\=QueueConnectionFactory/RefAddr/34/Content=0
cn\=QueueConnectionFactory/RefAddr/34/Encoding=String
cn\=QueueConnectionFactory/RefAddr/34/Type=DELIVERY_DOUBT_WINDOW
